.main-page-layout {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    background-color: rgb(146, 134, 134);

    position: absolute;
    width: 1400px;
    height: 1200px;
    left: 60px;
    top: 30px;
}